

.contain{
    background-color: #ddb7ab;
    width: 100%;
}
.MENU{
    justify-content: right;
    flex-direction: row;
    display: flex;
}

.divi{
    display: flex;
    background-color: #cdd4b1;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.sect1{
    padding-left: 50px;
    width: 58%;
    
}
#div1{
    background-color: white;
    width: 28%;
    text-align: center;
    padding-left: 30px;
}
#div2{
    background-color: white;
    width: 28%;
    text-align: center;
    padding-left: 30px;
    margin-bottom: 5px;
}
.ctaa{
    cursor: pointer;
    background-color: #999B84;
    width: 10%;
    text-align: center;
    border: solid black 1px;
}
.sect2{
    width: 28%;
    height: 250px;
    border: 1px solid black;
    margin-right: 80px;
    text-align: center;
    background-color: #999B84;
}
.sechead2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.cttaa{
    cursor: pointer;
    background-color: #999B84;
    width: 10%;
    height: 45px;
    text-align: center;
    border: solid black 1px;
    margin-left: 540px
    
}
.navv{
    padding-bottom: 20px;
    padding-top: 10px;
}
.sect3{
    width: 28%;
    height: 250px;
    border: 1px solid black;
    margin-left: 50px;
    text-align: center;
    background-color: #999B84;
}
.sect4{
    
    margin-left: 300px;
    width: 58%;
}
.CATTT{
    background-color: #999B84;
    width: 10%;
    text-align: center;
    border: solid black 1px;
    cursor: pointer;
}
.DIVISION3{
    display: flex;
    justify-content: space-around;
    background-color: #cdd4b1;
    width: 100%;
    padding-bottom: 1rem;
}
.THES{
    text-align: center;
    align-self: auto;
    background-color: #cdd4b1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
.IMAGE1{
    background-color: #efd9d1;
    text-align: center;
    width: 100%;
    height: 150px;
    border: 1px solid black;
}
.IMAGE2{
    background-color: #efd9d1;
    text-align: center;
    width: 25%;
    height: 150px;
    border: 1px solid black;
}
.IMAGE3{
    background-color: #efd9d1;
    text-align: center;
    width: 25%;
    height: 150px;
    border: 1px solid black;
}
/*.DIVISIONF{
    background-color: #cdd4b1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}*/
.spaceb{
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    height: 10px;
    width: 40%;
}
.linee{
    color: rgb(255, 255, 255);

}
.CAT{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #a4a490;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.imagen{
    display: flex;
    flex-direction: column;
    width: 30%;
}
